<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var overview_link = $(".navi ul.nav li#icon-page.overview_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).overview_link=="true" ) {
      overview_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      overview_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var the_most_well_known_metric_link = $(".navi ul.nav li#no-icon-page.the_most_well_known_metric_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).the_most_well_known_metric_link=="true" ) {
      the_most_well_known_metric_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      the_most_well_known_metric_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>

<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">What comes after measurement?</h3> -->

      <!-- custom url modal -->
      <a ui-sref="app.what_comes_after_measurement.tldr" class="btn btn-success" ng-click="app.click_history.what_comes_after_measurement_modal_link = 'true';" class="what_comes_after_measurement_link">TLDR</a>


      


      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
        So once we’re able to measure who is consuming content and ads across screens, the next question is, “What figures are needed to evaluate performance?” Let’s take a look at what types of metrics media buyers and sellers use to sell and evaluate their media.
      </p>
      
    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="app.overview" class="leftArrow" ng-click="app.click_history.overview_link = 'true';" class="overview_link" id="overview_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="app.the_most_well_known_metric" class="rightArrow" ng-click="app.click_history.the_most_well_known_metric_link = 'true';" class="the_most_well_known_metric_link" id="the_most_well_known_metric_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>