<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var the_most_well_known_metric_link = $(".navi ul.nav li#icon-page.the_most_well_known_metric_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).the_most_well_known_metric_link=="true" ) {
      the_most_well_known_metric_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      the_most_well_known_metric_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var primary_playback_link = $(".navi ul.nav li#icon-page.primary_playback_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).primary_playback_link=="true" ) {
      primary_playback_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      primary_playback_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>

<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Ratings Questions</h3> -->

      <!-- custom url modal -->
      <a ui-sref="app.ratings_questions.tldr" class="btn btn-success" ng-click="app.click_history.ratings_questions_modal_link = 'true';" class="ratings_questions_link">TLDR</a>


      


      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
       Rating reports are pivotal for the media industry because they provide key metrics that media buyers and sellers use to evaluate the content they place their messaging in. Ratings answer several key questions:
      </p>
      <p>*Table for How Many, How Often, How Long, with definitions</p>
      
    </div>
  </div>
</div>

<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="app.the_most_well_known_metric" class="leftArrow" ng-click="app.click_history.the_most_well_known_metric_link = 'true';" class="the_most_well_known_metric_link" id="the_most_well_known_metric_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="app.primary_playback" class="rightArrow" ng-click="app.click_history.primary_playback_link = 'true';" class="primary_playback_link" id="primary_playback_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>