<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var what_type_of_media_do_you_interact_with_link = $(".navi ul.nav li#icon-page.what_type_of_media_do_you_interact_with_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_type_of_media_do_you_interact_with_link=="true" ) {
      what_type_of_media_do_you_interact_with_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      what_type_of_media_do_you_interact_with_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var how_do_you_consume_media_link = $(".navi ul.nav li#no-icon-page.how_do_you_consume_media_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).how_do_you_consume_media_link=="true" ) {
      how_do_you_consume_media_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      how_do_you_consume_media_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>



<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">What form does media take?</h3> -->

      <!-- custom url modal -->
      <a ui-sref="app.what_form_does_media_take.tldr" class="btn btn-success" ng-click="app.click_history.what_form_does_media_take_modal_link = 'true';" class="what_form_does_media_take_link">TLDR</a>


      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
        We can consume content and advertising in three different forms: video, text and audio.
      </p>
      <p>*Table for Audio, Video, Text with definitions</p>

      <p>Consumers can be exposed to advertisements in two different ways: linearly and dynamically.</p>
      <p>*Table for Linear, Advertising, Dynamic Advertising with definitions</p>
      
    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="app.what_type_of_media_do_you_interact_with" class="leftArrow" ng-click="app.click_history.what_type_of_media_do_you_interact_with_link = 'true';" class="what_type_of_media_do_you_interact_with_link" id="what_type_of_media_do_you_interact_with_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="app.how_do_you_consume_media" class="rightArrow" ng-click="app.click_history.how_do_you_consume_media_link = 'true';" class="how_do_you_consume_media_link" id="how_do_you_consume_media_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>