<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var what_form_does_media_take_link = $(".navi ul.nav li#icon-page.what_form_does_media_take_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_form_does_media_take_link=="true" ) {
      what_form_does_media_take_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      what_form_does_media_take_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var who_are_the_key_players_in_the_industry_link = $(".navi ul.nav li#no-icon-page.who_are_the_key_players_in_the_industry_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).who_are_the_key_players_in_the_industry_link=="true" ) {
      who_are_the_key_players_in_the_industry_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      who_are_the_key_players_in_the_industry_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>


<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">

      <!-- custom url modal -->
      <a ui-sref="app.how_do_you_consume_media.tldr" class="btn btn-success" ng-click="app.click_history.how_do_you_consume_media_modal_link = 'true';" class="how_do_you_consume_media_link">TLDR</a>



      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
        Consumers use four main platforms to consume content and advertising: television, connected devices, digital and audio. Consumers can use a number of devices within across each of these platforms to consume content. We provide an in-depth look into how Nielsen measures each of these platforms within this Ratings Academy.
      </p>
      <p>*Table for Television, Connected Devices, Digital Devices, Audio with definitions</p>
      
    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="app.what_form_does_media_take" class="leftArrow" ng-click="app.click_history.what_form_does_media_take_link = 'true';" class="what_form_does_media_take_link" id="what_form_does_media_take_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="app.who_are_the_key_players_in_the_media_industry" class="rightArrow" ng-click="app.click_history.who_are_the_key_players_in_the_media_industry_link = 'true';" class="who_are_the_key_players_in_the_media_industry_link" id="who_are_the_key_players_in_the_media_industry_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>