<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var what_comes_after_measurement_link = $(".navi ul.nav li#no-icon-page.what_comes_after_measurement_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_comes_after_measurement_link=="true" ) {
      what_comes_after_measurement_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      what_comes_after_measurement_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var ratings_questions_link = $(".navi ul.nav li#no-icon-page.ratings_questions_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).ratings_questions_link=="true" ) {
      ratings_questions_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      ratings_questions_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>

<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">The most well known metric</h3> -->

      <!-- custom url modal -->
      <a ui-sref="app.the_most_well_known_metric.tldr" class="btn btn-success" ng-click="app.click_history.the_most_well_known_metric_modal_link = 'true';" class="the_most_well_known_metric_link">TLDR</a>


      


      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
        Advertisers use an array of metrics to inform their messaging strategies. Ratings provide the most well-known metric—the number of people exposed to content. Ratings are represented as a percentage of a specific population or audience, and they are often referred to as the currency of the media industry because they are used to price advertising. Once an ad campaign has run, media buyers and sellers review ratings reports to determine if their messaging reached the intended audience.
      </p>
      
    </div>
  </div>
</div>

<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="app.what_comes_after_measurement" class="leftArrow" ng-click="app.click_history.what_comes_after_measurement_link = 'true';" class="what_comes_after_measurement_link" id="what_comes_after_measurement_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="app.ratings_questions" class="rightArrow" ng-click="app.click_history.ratings_questions_link = 'true';" class="ratings_questions_link" id="ratings_questions_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>